@keyframes blackToBlue {
  from {color: black;}
  to {color: blue;}
}

@keyframes thinToBold {
  from {border-bottom: 0.5px solid black;}
  to {border-bottom: 2px solid black;;}
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.media-body {
  text-align: left;
}

.odstep {
  margin: 10px;
  text-align: center;
}

.doPrawej {
  text-align: right;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 1fr 1fr 1fr 1fr;
}

.doLewej {
  text-align: left;
}

.tlo {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #80ff80;
}

.tlo .media {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
.media_appendix {
  text-align: left;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.button_w {
  font-size: 1rem;
  color: black;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  max-width: 7rem;
  text-shadow: 0 1px 1px #6dd96d;
  margin: 15px;
  border: none;
  border-radius: 10px;
  background: #80ff80;
  transition-duration: 0.4s;
  box-shadow: 10px 10px 50px #6dd96d, -10px -10px 50px #93ff93;
}

.button_w img {
  width: 80%;
  height: auto;
}

.button_w_red {
  color: red;
}

.button_w:hover {
  box-shadow: 10px 10px 50px #6dd96d, -10px -10px 50px #93ff93;
  transform: scale(1.05);
}

.button_w:active {
  transition-duration: 0s;
  transform: translateY(5px);
}

.button_w:focus {
  outline-color: #6dd96d;
}

.media img {
  width: 20%;
  border-radius: 5px;
  background: #80ff80;
  box-shadow: inset 14px 14px 22px #5dba5d, inset -13px -13px 22px #a3ffa3;
}

.media_category img {
  width: 12%;
}

.naglowek {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: rgb(0, 0, 0, 0.87);
  border-radius: 10px;
  background: #80ff80;
  box-shadow: inset 4px 4px 12px #5dba5d, inset -3px -3px 12px #a3ffa3;
  text-shadow: 0 1px 1px #5dba5d;
  transition-duration: 0.4s;
}

.naglowek div:hover {
  transition-duration: 0.4s;
  transform: scale(1.001);
}

.naglowek .tytul:hover {
  transition-duration: 0.4s;
  transform: scale(1.01);
}

.naglowek_a:hover {
  text-decoration: none;
}

.custom-typeahead .form-control {
  background-color: #80ff80;
  border: none;
  border-bottom: 0.5px solid black;
}

.custom-typeahead .form-control:hover {
  animation-name: thinToBold;
  animation-duration: 100ms;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  border-bottom: 2px solid black;
  color: black;
}

.custom-typeahead .form-control:focus {
  background-color: #80ff80;
  box-shadow: none;
  animation-name: blackToBlue;
  animation-duration: 100ms;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  border-bottom: 2px solid blue;
}

.custom-typeahead .dropdown-item:focus,
.dropdown-item:hover {
  background-color: #80ff80;
}

.custom-typeahead .dropdown-menu {
  background-color: #80ff80;
}

.custom-typeahead .dropdown-item.hover{
  background-color: #5dba5d
}

.swal2-popup {
  background-color: #80ff80;
}

@media only screen and (max-width: 1199px) {

  .tlo .media {
    margin-left: 10%;
    margin-right: 10%;
  }

  .media_appendix {
    margin-left: 10%;
    margin-right: 10%; 
  }

  .doPrawej .button_w {
    max-width: 0.5rem;
    max-height: 0.5rem;
  }

  .button_w {
    width: 7rem;
    height: auto;
    /* max-width: 100px; */
    padding-left: 1px;
    padding-right: 1px;
    margin: 1%;
  }

  .odstep {
    margin: 1px;
    text-align: center;
  }
  
  .button_w img {
    width: 80%;
    height: auto;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }

  .media img {
    width: 25%;
    min-width: 30px;
    height: auto;
  }

  .media_category img {
    width: 12%;
  }

  span {
    width: 5%;
  }
}

@media only screen and (max-width: 991px) {
  .button_w {
    width: 5rem;
  }

  .media img {
    width: 40%;
    min-width: 30px;
    height: auto;
  }

  .media_category img {
    width: 20%;
  }

}

@media only screen and (max-width: 768px) {

  .tlo .media {
    margin-left: 5%;
    margin-right: 5%;
  }
  .media_appendix {
    margin-left: 5%;
    margin-right: 5%;
  }

  html {
    font-size: 80%;
  }

  .doPrawej .button_w {
    margin: 5%;
    max-height: 20px;
  }

  .button_w {
    width: 5rem;
  }


  .button_w img {
    min-width: 15px;
    height: auto;
  }

  .media img {
    width: 40%;
    min-width: 30px;
    height: auto;
  }

  .media_category img {
    width: 20%;
  }

  .odstep {
    margin: 2px;
  }

}

@media only screen and (max-width: 576px) {

  .button_w {
    width: 5rem;
  }

  .media img {
    width: 35%;
  }

  .media_category img {
    width: 20%;
  }
  
  html {
    font-size: 70%;
    min-width: 320px;
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('https://www.st-andrews.ac.uk/~cdn/dpl/1.7.2/fonts/bootstrap/glyphicons-halflings-regular.eot'); 
  src: url('https://www.st-andrews.ac.uk/~cdn/dpl/1.7.2/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('https://www.st-andrews.ac.uk/~cdn/dpl/1.7.2/fonts/bootstrap/glyphicons-halflings-regular.woff2') format('woff2'), url('https://www.st-andrews.ac.uk/~cdn/dpl/1.7.2/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('https://www.st-andrews.ac.uk/~cdn/dpl/1.7.2/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('https://www.st-andrews.ac.uk/~cdn/dpl/1.7.2/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\002a";
}
.glyphicon-plus:before {
  content: "\002b";
}
.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-shopping:before {
  content: "\e116";
}
.glyphicon-emptyStar:before {
  content: "\e007";
}
.glyphicon-star:before {
  content: "\e006";
}
