body {
  margin: 0px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.media-body {
  text-align: left;
}

.odstep {
  margin: 10px;
  text-align: center;
}

.doPrawej {
  text-align: right;
}

.doLewej {
  text-align: left;
}

.tlo {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #80ff80;
}

.button_w {
  color: black;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  max-width: 10rem;
  text-shadow: 0 1px 1px #6dd96d;
  margin: 15px;
  border: none;
  border-radius: 10px;
  background: #80ff80;
  transition-duration: 0.4s;
  box-shadow: 10px 10px 50px #6dd96d, -10px -10px 50px #93ff93;
}

.button_w_red {
  color: red;
}

.button_w:hover {
  box-shadow: 10px 10px 50px #6dd96d, -10px -10px 50px #93ff93;
  transform: scale(1.1);
}

.button_w:active {
  transition-duration: 0s;
  transform: translateY(5px);
}

.button_w:focus {
  outline-color: #6dd96d;
}

.media img {
  border-radius: 5px;
  background: #80ff80;
  box-shadow: inset 14px 14px 22px #5dba5d, inset -13px -13px 22px #a3ffa3;
}

.naglowek {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: rgb(0, 0, 0, 0.87);
  border-radius: 10px;
  background: #80ff80;
  box-shadow: inset 4px 4px 12px #5dba5d, inset -3px -3px 12px #a3ffa3;
  text-shadow: 0 1px 1px #5dba5d;
}

.naglowek_a:hover {
  text-decoration: none;
}
